{% extends 'dashboard.html.twig' %}

{% block title %}Modifier un produit{% endblock %}

{% block body %}
<div class="content">
    <h1 class="text-center title">Gestion des produits</h1>
    <div class="row">
        <div class="col-lg-8 ml-auto mr-auto">
            <div class="row">
                <h1>Modification d'un produit</h1>

                {{ include('product/_form.html.twig', {'button_label': 'Mettre à jour'}) }}
                <div class="col-md-3">
                    {{ include('product/_delete_form.html.twig') }}
                </div>
                <div class="col-md-12">
                    <a href="{{ path('product_index') }}">retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
