{% extends 'dashboard.html.twig' %}

{% block title %}Gestion des entrées/sorties{% endblock %}

{% block body %}
<div class="content">
    <h1 class="text-center title">Gestion des entrées/sorties</h1>
    <div class="row">
        <div class="col-lg-8 ml-auto mr-auto">
            <div class="row">
                {{ include('product/_es-form.html.twig', {'button_label': 'Mettre à jour'}) }}
                <div class="col-md-12">
                    <a href="{{ path('product_index') }}">retour à la liste</a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
